<body>
<app-navbar></app-navbar>
<div class="container2">
    <div class="card shadow">
        <div class="card-body">
            <h1 class="text3">Services</h1>
           
             <div class="row">
                <div class="col-3" style="margin-left:12.5%">
                    <a [routerLink]="['/clinics','Vaccination']"><div class="card text-white shadow"  style=" width:210px">
                        <img class="card-img" src=".\assets\vaccination.jpeg"  alt="Card image"/>
                        <div class="card-img-overlay">
                            <h5 class="card-text shadow " style="margin-top:65%; text-align:center; font-family: Georgia, 'Times New Roman', Times, serif;">Vaccination(18+)</h5>
                        </div>
                    </div>  </a>   
                </div>
                
                <div class="col-3">
                    <a [routerLink]="['/clinics','Pedeatric Vaccine']"><div class="card text-white shadow"  style=" width:210px">
                        <img class="card-img"src=".\assets\pedeatric vaccine.png" style=" height:165px; width:210px" alt="Card image"/>
                        <div class="card-img-overlay">
                            <h5 class="card-text shadow" style="margin-top:65%; text-align:center; font-family: Georgia, 'Times New Roman', Times, serif;">Pedeatric Vaccine</h5>
                        </div>
                    </div>  </a>   
                </div>
                
                <div class="col-3">
                    <a [routerLink]="['/clinics','Lab test']"><div class="card text-white shadow"  style=" width:210px">
                        <img class="card-img"src=".\assets\lab test.png" style=" height:165px; width:210px" alt="Card image"/>
                        <div class="card-img-overlay">
                            <h5 class="card-text shadow" style="margin-top:65%; text-align:center; font-family: Georgia, 'Times New Roman', Times, serif;">Lab Test</h5>
                        </div>
                    </div>   </a>  
                </div>

            </div>
            <div class="row" style="margin-top:1%;">

                <div class="col-3" style="margin-left:12.5%">
                    <a [routerLink]="['/clinics','Fever and illness']"><div class="card text-white shadow"  style=" width:210px">
                        <img class="card-img"src=".\assets\fever and illness.jpeg" style=" height:165px;" alt="Card image"/>
                        <div class="card-img-overlay">
                            <h5 class="card-text shadow" style="margin-top:65%; text-align:center; font-family: Georgia, 'Times New Roman', Times, serif;">Fever and Illness</h5>
                        </div>
                    </div>  </a>   
                </div>

                <div class="col-3">
                    <a [routerLink]="['/clinics','Wound Care']"><div class="card text-white shadow"  style=" width:210px">
                        <img class="card-img"src=".\assets\wound care.jpeg" style=" height:165px;" alt="Card image"/>
                        <div class="card-img-overlay">
                            <h5 class="card-text shadow" style="margin-top:65%; text-align:center; font-family: Georgia, 'Times New Roman', Times, serif;">Wound Care</h5>
                        </div>
                    </div>  </a>   
                </div>

                <div class="col-3">
                    <a [routerLink]="['/clinics','General Visit']"><div class="card text-white shadow"  style=" width:210px">
                        <img class="card-img"src=".\assets\general visit.jpeg" style=" height:165px; " alt="Card image"/>
                        <div class="card-img-overlay">
                            <h5 class="card-text shadow" style="margin-top:65%; text-align:center; font-family: Georgia, 'Times New Roman', Times, serif;">General Visit</h5>
                        </div>
                    </div>   </a>  
                </div>
            </div>
            <div class="row"  style="margin-top:1%; margin-bottom:1%;">
                <div class="col-3" style="margin-left:12.5%">
                    <a [routerLink]="['/clinics','Diet']"><div class="card text-white shadow"  style=" width:210px">
                        <img class="card-img"src=".\assets\diet.jpeg" style=" height:165px; " alt="Card image"/>
                        <div class="card-img-overlay">
                            <h5 class="card-text shadow" style="margin-top:65%; text-align:center; font-family: Georgia, 'Times New Roman', Times, serif;">Diet</h5>
                        </div>
                    </div>  </a>  
                </div>

                <div class="col-3">
                    <a [routerLink]="['/clinics','Injury']"><div class="card text-white shadow" style=" width:210px">
                        <img class="card-img"src=".\assets\injury.jpeg" style=" height:165px;" alt="Card image"/>
                        <div class="card-img-overlay">
                            <h5 class="card-text shadow" style="margin-top:65%; text-align:center; font-family: Georgia, 'Times New Roman', Times, serif;">Injury</h5>
                        </div>
                    </div> </a>    
                </div>
                <div class="col-3">
                    <a [routerLink]="['/clinics','Trauma']"><div class="card text-white shadow" style=" width:210px">
                        <img class="card-img"src=".\assets\trauma.jpeg"style=" height:165px;"  alt="Card image"/>
                        <div class="card-img-overlay">
                            <h5 class="card-text shadow" style="margin-top:65%; text-align:center; font-family: Georgia, 'Times New Roman', Times, serif;">Trauma</h5>
                        </div>
                    </div>  </a>   
                </div>

            </div>        </div>
    </div>
</div>
    <div class="rectangle2"></div>
</body>