<body>
    <app-navbar></app-navbar>
    <p class="text1">Effortlessly Schedule Your<br>

        <span style="color: #8659D3FF">&nbsp;&nbsp;&nbsp;Clinic</span> Appointments</p>
        
        <img class="avatar" src=".\assets\A1.jpg" alt="image">
        
        <img class="avatar1" src=".\assets\J1.jpg" alt="image">
        
        <img class="avatar2" src=".\assets\B1.jpg" alt="image">
        
        <p class="text2">we've made clinic appointment bookings hassle-free. We understand that your time is valuable, and waiting in long
        
        queues for appointments is a thing of the past. With our user friendly online platform, you can easily schedule your
        
        clinic visits with just a few clicks.
        
        </p>
        
        <div class="butt" type="button">So Let's Get Started</div>
        
        <img class="image" src=".\assets\pic.png" alt="image">
        
        
        <div class="cont">
        
            <div class="cont1">
                <p style="text-align:center; margin-top:6%; margin-right:4%; color: #8659D3FF"><fa-icon [icon]="['far','user-circle']" size="4x" ></fa-icon></p>
                <p class="symb">100+</p>
        
                <p class="user">Users</p>
        
            </div>
        
            <div class="cont2">
               <p style="text-align:center; margin-top:6%; margin-right:4%; color: #FF7F00FF;"> <fa-icon [icon]="['far','calendar-check']" size="4x" ></fa-icon></p>
                <p class="symb1">50+</p>
        
                <p class="appoint">Appointments</p>
        
            </div>
        
            <div class="cont3">
                <p style="text-align:center; margin-top:6%;  margin-right:4%;color: #0EA5A8FF;"><fa-icon [icon]="['far','hospital']" size="4x" ></fa-icon></p>
                <p class="symb2">100+</p>
        
                <p class="trusted">Trusted Clinics</p>
        
            </div>
        
            <div class="cont4">
                <p style="text-align:center; margin-top:6%; margin-right:4%; color: #237BD3FF; "><fa-icon [icon]="['far','clock']" size="4x" ></fa-icon></p>
                <p class="symb3">40%</p>
        
                <p class="save">Save Time</p>
        
            </div>
        
        </div>     
        
    <div class="container-first">
    <div class="row">
        <div class="col-5">
            
            <h3 class="text-one"><span style="color:#8659D3FF ;">Smarter</span> appointment booking for your clinic visits</h3>
            <p class="text-three">Smarter scheduling for work involves employing effective strategies</p>
            <a class="btn btn-light" [routerLink]="['/scheduleappointment']" style="border-color: #8659D3FF; color: #8659D3FF; margin-left: 12%;">Learn more</a>
        </div>
        <div class="col-6">
            <img class="text-two" src=".\assets\home1.png" height="90%" width="100%" alt="image"/>

        </div>
       
    </div>
    <div class="row">
        <div class="col-6">
            <img class="text-two" src=".\assets\home2.png" height="90%" width="100%" alt="image"/>

        </div>
        <div class="col-5">
            
            <h3 class="text-one"><span style="color:#8659D3FF ;">See</span> your scheduled  appointment</h3>
            <p class="text-four">Here you can easily view your booked appointment</p>
            <a class="btn btn-light"  [routerLink]="['/scheduleappointment']" style="border-color: #8659D3FF; color: #8659D3FF; margin-left: 12%;">Learn more</a>
        </div>
        
       
    </div>

    </div> 

    <div class="container-two">
        <div class="rectangle-one"></div>
        <div class="rectangle-two"></div>
        <h1 style="text-align: center; color: white; margin-top: 5%; font-weight: 900;">Get started!</h1>
        <p style="text-align: center; color: white; margin-top: 5%; margin-left: 20%; margin-right:20%; font-size: 18px; "> we've made  clinic appointment bookings hassle-free. We understand that your time is valuable, and waiting in long queues for appointments is a thing of the past. With our user-friendly online platform, you can easily schedule your clinic visits with just a few clicks.</p>
        <div class="avatar-one">
            <img class="img-one" src=".\assets\A1.jpg" alt="image">
        </div>
        <div class="avatar-two">
            <img class="img-two" src=".\assets\J1.jpg" alt="image">
        </div>
        <div class="avatar-three">
            <img class="img-three" src=".\assets\B1.jpg" alt="image">
        </div>
    </div>
    <div class="container-three">
        <div class="row">
            <div class="col-6">
                <img class="text-two" src=".\assets\home3.png" height="70%" width="100%" alt="image"/>
    
            </div>
            <div class="col-5">
                
                <h3 class="text-one"><span style="color:#8659D3FF ;">FAQ?</span></h3>
                <hr>
                <div class="container-four">
                        <h4 style="margin-left: 2%; margin-top: 2%; ">What is a schedule tool, and how does it work? </h4>
                        <p style="margin-left: 2%; margin-top: 2%; margin-right:12%; color: #6E7787FF;">"A clinic visit appointment booking system is an online platform that allows patients to easily schedule healthcare appointments. Users can browse available services, select a preferrered clinic,, choose a convenient date and time, and receive confirmation notifications. It simplifies appointment management for patients, offering convenience and efficiency."</p>
                
                    </div>
                    <hr>
                    <h5 style="margin-left: 2%; margin-top: 4%;margin-bottom: 4%;">Is my data safe and secure within the schedule tool?</h5>
                    <hr>
                </div>
            
           
        </div>
    </div>
    <div class="container-five">
        <h1 style="text-align: center;">What's New?</h1>
        <div class="row">
            <div class="col" style="margin-left:7%">
                <div class="card bg-light  shadow"  style="  width:80%">
                    <img class="card-img"src=".\assets\vac1.jpeg" style=" height:235px; width:100%" alt="Card image"/>
                    <div class="card-body">
                        <h5 class="card-title " style="margin-top:10%; color:#8659D3FF; text-align:center; font-family: Georgia, 'Times New Roman', Times, serif;">Vaccination(18+)</h5>
                    </div>
                </div>  
            </div>
            
            <div class="col">
               <div class="card bg-light  shadow"  style=" width:80%">
                    <img class="card-img"src=".\assets\lab1.jpeg" style=" height:235px; width:100%" alt="Card image"/>
                    <div class="card-body">
                        <h5 class="card-title " style="margin-top:10%; color:#8659D3FF; text-align:center; font-family: Georgia, 'Times New Roman', Times, serif;">Lab Tests</h5>
                    </div>
                </div>   
            </div>
            
            <div class="col">
                <div class="card bg-light  shadow"  style=" width:80%">
                    <img class="card-img"src=".\assets\general1.jpeg" style=" height:235px; width:100%" alt="Card image"/>
                    <div class="card-body">
                        <h5 class="card-title " style="margin-top:10%; color:#8659D3FF; text-align:center; font-family: Georgia, 'Times New Roman', Times, serif;">General Visits</h5>
                    </div>
                </div>  
            </div>

        </div>
    </div>
    <!-- footer -->
        
    <div class="footer">
        <div class="row">
            <div class="col-6">
            <img class="img" src=".\assets\logo2.png" alt="image">
    
            <div class="foo">Clivisit</div>

            <p class="foot">we've made clinic appointment bookings hassle-free. We understand that your time is valuable, and waiting in long
    
            queues for appointments is a thing of the past. With our user friendly online platform, you can easily schedule your
    
            clinic visits with just a few clicks.</p>
            </div>
            <div class="col-6">
                <p class="resource" id="resource">Resource</p>
    
                <p class="resource" style="margin-top:2.5%; color:#323842FF;">Blog</p>
            
                <p class="resource" style="margin-top:5%; color:#323842FF;">User Guides</p>
            
                <p class="aboutus" id="resource">About Us</p>
            
                <p class="aboutus" style="margin-top:2.5%; color:#323842FF;">About Us</p>
            
                <p class="aboutus" style="margin-top:5%; color:#323842FF;">Contact Us</p>
            
                <p class="feature" id="resource">Features</p>
            
                <p class="feature" style="margin-top:2.5%; color:#323842FF;">Schedule Appointments</p>
            </div>
        </div>
        
       
    
        <img class="twitter" style="left: 9%;" src=".\assets\twitter.svg" alt="image">
    
        <img class="twitter" style="left: 12%;" src=".\assets\facebook.svg" alt="image">
    
        <img class="twitter"style="left: 15%;" src=".\assets\instagram.svg" alt="image">
    
        <img class="twitter" style="left: 18%;" src=".\assets\linkedin.svg" alt="image">
    
        <img class="twitter" style="left: 21%;" src=".\assets\youtube.svg" alt="image">

        <hr style="margin-top:22%; margin-left: 9%; margin-right: 5%;">
    
        <p class="down">&copy; 2023 Clivisit, Inc. &nbsp;&nbsp;&nbsp; .Privacy &nbsp;&nbsp;&nbsp; .Terms .</p>
    
    </div>
</body>